body {
    margin: 0;
    background-color: #0d0d10;
    font-family: Segoe UI, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 42px;
    margin-top: 25px;
    font-weight: 600;
    color: #4db8ff;
}

.searchbar {
    margin-top: 20px;
}
.searchbar input {
    width: 430px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

/* SORT BUTTONS */
.sort-controls {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}
.sort-controls button {
    background: #1c1f23;
    color: white;
    border: 2px solid #4db8ff;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.15s;
}
.sort-controls button:hover {
    background: #00253e;
}

/* GAME GRID */
.game-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    width: 95%;
    gap: 18px;
}
.game-card {
    width: 190px;
    height: 90px;
    background-color: #181a1e;
    border-radius: 12px;
    border: 2px solid #4db8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.17s;
    text-align: center;
    font-size: 18px;
}
.game-card:hover {
    transform: scale(1.06);
    background: #00253e;
}

/* FOOTER */
.footer-controls {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
.footer-controls button {
    background: #1c1f23;
    border: 2px solid #4db8ff;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

/* OUTPUT */
#output {
    margin-top: 35px;
    background: #121417;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #333;
    width: 75%;
    display: none;
    white-space: pre-line;
}
